.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #2C5F2D;
  }
  
  .about {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #97BC62FF;
    color: #2C5F2D;
  }
  .aboutMe {
    font-size: 35px;
    width: 100%;
    min-height: calc(70vh - 100px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    background-color: #f0f0f0;
    color: #72904a ;
  }
  .aboutMe p{
    color: #72904a ;
  }
  
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #2C5F2D;
    height: 50px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: #2C5F2D;
  }
  
  .skills {
    background-color:#97BC62FF ;
    height: auto;
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #364536 ;
  }
  
  .skills h1, h2 {
    color: #2C5F2D;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
    .aboutMe {
      min-height: calc(175vh - 100px);
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }